---
import Hero from "../components/Hero.astro"
import Baselayout from "../layouts/Baselayout.astro"
---

<Baselayout>
 <Hero imgPath="/src/assets/images/abouthero.jpg" name="About Hero"/>
            <h1>hej</h1>


</Baselayout>