---
import Hero from "../components/Hero.astro"
import "../styles/reset.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header></header>
        <main>
        <Hero imgPath="/src/assets/images/abouthero.jpg" name="About Hero"/>
            <h1>hej</h1>

        </main>
        <footer></footer>
	</body>
</html>
<style>




</style>