---
import Hero from "../components/Hero.astro"
import Numbers from "../components/Numbers.astro"
import Baselayout from "../layouts/Baselayout.astro"
import Colorcontainer from "../components/Colorcontainer.astro"
import "../styles/style.css"
import "../styles/reset.css"
import { Icon } from 'astro-icon/components'
import { Image } from "astro:assets"
---

<Baselayout>
 <Hero imgPath="/src/assets/images/abouthero.jpg" name="SERVICES" description="Creative Services For Boost Your Business Growth"/>



 <section id="tyiir">
    <Colorcontainer body="OUR VISION" color="green"/>

    <h1>Turn your ideas into reality.</h1>
    <div class="text">
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        
        <ul>
            <li class="ul">
                <Icon name="checkmark"/>
                Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.
            </li>
            <li class="ul">
                <Icon name="checkmark"/>
                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.
            </li>
            
        </ul>
    </div>



<Icon name="123"/>



    <div class="content">
        <article id="numberthing">  
            <Numbers numbers="1128+" text="Succesful work"/>
            <Numbers numbers="908+" text="Team Member"/>
            <Numbers numbers="258+" text="Happy Customers"/>
            <Numbers numbers="564+" text="Creative Idea"/>
        </article>
    </div>
</section>

</Baselayout>

<style>
#numberthing{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8.4375rem;
}
[data-icon="checkmark"] {
    width: 1.23044rem;
    height: 1.23044rem;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #4EAF4E;
}
#tyiir {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1875rem;
}
.ul {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    
}
ul {
    padding-left: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
    width: 36.875rem;
}
</style>