---
import Hero from "../components/Hero.astro"
import Numbers from "../components/Numbers.astro"
import Baselayout from "../layouts/Baselayout.astro"
import Colorcontainer from "../components/Colorcontainer.astro"
import "../styles/style.css"
import "../styles/reset.css"
import { Icon } from 'astro-icon/components'
import { Image } from "astro:assets"
import Imagepattern from "../components/Imagepattern.astro"
---


<Baselayout>
<section id="hero" class="full">
    <Hero imgPath="/src/assets/images/abouthero.jpg" name="SERVICES" description="Creative Services For Boost Your Business Growth"/>
</section>
<section id="our-vision" class="feature">
    <article class="gridl">
        <Colorcontainer body="OUR VISION" color="green"/>
        <h2>Turn your ideas intro reality</h2>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        <ul>
            <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
            <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
        </ul>
    </article>

    <article class="gridr">
        <figure>
            <Imagepattern imgPath="/src/assets/images/tyiirpic.jpg" name="tyiirpic" alt="tyiirpic"/>
        </figure>
    </article>

    <article class="num">
        <Numbers numbers="1128+" text="Succesful work"/>
        <Numbers numbers="908+" text="Team Member"/>
        <Numbers numbers="258+" text="Happy Customers"/>
        <Numbers numbers="564+" text="Creative Idea"/>
    </article>

</section>

<section id="core-values" class="full">
    <div id="parent" class="content">
        <div class="popout">
            <h1>test</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias amet rerum optio mollitia provident nihil 
                similique totam sint, deserunt qui non ea id cum quisquam facilis enim delectus minima veniam.
            </p>
        </div>
    </div>
</section>

</Baselayout>

<style>
   :is(ol,ul) {
    padding-inline-start: 1em;
   }
   #our-vision {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   article{
    padding: 2em;
    max-width: 65ch;
    margin-inline: auto;
   }
   .num {
    width: 100%;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8.4375rem;
   }
   #core-values{
    background-color: var(--lightgrey);
    display: flex;
   
    padding: 6.25rem 22.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
   }
</style>