---
const title = Astro.props.title;
const text = Astro.props.text;
import { Icon } from "astro-icon/components";
---


    <div>
        
        <h5>{title}</h5>
        <p>{text}</p>
    </div>



<style>


</style>