---
const { body = "badge", color ="green"} = Astro.props;

---
<h1 class={color}>
    {body}
</h1>

  
<style>
h1 {
    
    border-radius: 1.25rem;
    display: inline-flex;
    padding: 0rem 0.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
    letter-spacing: 0.145rem;
    text-transform: uppercase;
    line-height: 147.5%;
    font-family: var(--paragraph);
    font-size: 1rem;
    font-weight: 400;
}
.green {
    background-color: var(--green);
    color: var(--white);
}
.yellow {
    background-color: var(--yellow);
    color: var(--black);
}


</style>