---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";const images = 
import.meta.glob<{ default: ImageMetadata }>(  "/src/assets/**/*.{jpeg,jpg,png,gif}");const { name, description, imgPath } = Astro.props;if (!images[imgPath])  throw new Error(    `"${imgPath}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`  );
const text = Astro.props.text;

---

<article>

<h1 class="numbers">{text}</h1>
<!-- <h6 class="text">{text}</h6> -->

</article>





<style>



</style>